@use 'mixin';
footer ul {
    @include mixin.inline-list();
    li {
        padding: .4rem;
        background-color: salmon;
        a {
            color: white;
            text-decoration: none;
        }
    }
}